.container {
    align-items: center;
    background-color: #f0ddee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }
  
  .container_title {
    align-items: center;
    color: #fffffe;
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  
  .container_title_icon {
    color: #4b204b;
    font-size: 30px;
    margin-right: 10px;
  }
  
  .container_title h1 {
    color: #4b204b;
    font-size: 40px;
  }
  
  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .product {
    align-items: center;
    background-color: #004643;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #f0ddee;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: auto;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    width: 60%;
  }
  
  
  .product img {
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px;
    width: 80px;
  }
  
  .product p {
    font-size: 20px;
    text-align: center;
    width: 80%;
  }
  
  .price {
    color: #f9bc60;
    font-weight: 700;
  }
  
  .quantity {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 80%;
  }
  
  .quantity p {
    font-size: 25px;
    text-align: center;
  }
  
  .quantity button {
    background-color: #f9bc60;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #001e1d;
    font-size: 25px;
  }
  
  .final {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
  }
  
  .final h2 {
    color: #4b204b;
    font-size: 25px;
    padding: 20px;
  }
  
  .final button {
    background-color: #f9bc60;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
  }
  
  
  @media screen and ( min-width : 768px ) and ( max-width : 1023px ) {
  
    .main {
      align-items: center;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      margin: auto;
      width: 100%;
    }
  
    .product {
      align-items: center;
      background-color: #4b204b;
      border-radius: 20px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: #f0ddee;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      height: 400px;
      justify-content: center;
      margin: 10px;
      padding: 10px;
      width: 45%;
    }
  
    .product img {
      border-radius: 20px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      margin: 10px;
      width: 150px;
    }
  
    .quantity button {
      background-color: #f9bc60;
      font-size: 30px;
    }
  }
  
  @media screen and ( min-width : 1024px ) {
  
    .main {
      flex-flow: wrap;
      justify-content: space-around;
    }
  
    .product {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 25px;
      height: 400px;
      justify-content: center;
      width: 400px;
    }
  
    .product img {
      border-radius: 20px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      width: 180px;
    }
  }