.header {
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  display: flex;
  font-family: var(--font);
  justify-content: space-between;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
  align-items: center;
  display: flex;
  font-size: 22px;
  color: #007bff;
}

.header a {
  color: #333333;
  font-size: 32px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav {
  display: flex;
  gap: 20px;
}

.cartContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cartContainer a {
  color: #333333;
  font-size: 32px;
}

.cartContainer a:hover,
.cartContainer a:focus {
  color: #28a745;
  transition: color 0.3s;
}

.nav a:nth-child(1):hover {
  color: #28a745;
  transition: color 0.3s;
}

.cartContainer span {
  border-radius: 12px;
  color: #ffffff;
  font-weight: 700;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #090a3d;
}

.navButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navButton svg {
  color: #333333;
  font-size: 32px;
}

.header aside {
  position: fixed;
  right: 0;
  top: 0;
  transition: width 0.4s;
  width: 0;
}

.header .activeMenu {
  width: 50vw;
}

.menuContainer {
  background-color: #f2f2f2;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  padding: 20px;
}

.close {
  cursor: pointer;
  font-size: 36px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #333333;
}

.close:hover {
  color: #03dac6;
}

@media screen and (max-width: 500px) {
  .header {
    padding: 10px 15px;
  }

  .header h1 {
    font-size: 18px;
  }

  .cartContainer a {
    font-size: 24px;
  }

  .nav {
    gap: 15px;
  }

  .nav a:nth-child(1) {
    font-size: 24px;
  }

  .header .activeMenu {
    width: 100vw;
  }
}

