body {
  background-color: #f7f7f7;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  margin-top: 100px;
  width: 100%;
}

.inputContainer {
  background-color: #ffffff;
  display: flex;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputContainer svg {
  display: none;
}

.inputContainer input {
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  color: #f7f7f7;
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  line-height: 150%;
  margin: 20px 15px;
  max-width: 500px;
  outline: none;
  padding: 10px;
  text-align: center;
  width: 85%;
}

.productsGrid {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 50px;
}

.inputContainer div {
  width: 40%;
}

.inputContainer div input::placeholder {
  color: #e0e0e0;
}

.inputContainer button {
  background-color: #28a745;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin: 20px auto;
  min-width: 80px;
  transition: background-color 0.3s;
  width: 15%;
}

.inputContainer button:hover {
  background-color: #007bff;
}

.main {
  display: flex;
  width: 100%;
}

.categoriesContainer {
  background-color: #f7f7f7;
  width: 25%;
}

.productsContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 75%;
  margin-top: 8px;
}

.productsContainer aside {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 180px;
}

.productsContainer aside select {
  background-color: #007bff;
  color: #e0e0e0;
  padding: 6px;
  border: none;
  border-radius: 4px;
}

.notFound {
  color: #333333;
  font-size: 28px;
  font-weight: 600;
  margin: 80px auto;
  text-align: center;
}

.fetching {
  color: #333333;
  display: flex;
  font-size: 28px;
  font-weight: 600;
  justify-content: center;
  margin: 80px auto;
}

.fetching span {
  margin-left: 15px;
}

.scroll {
  bottom: 20px;
  cursor: pointer;
  font-size: 28px;
  position: fixed;
  right: 20px;
  scroll-behavior: smooth;
  z-index: 1;
}

@media (max-width: 500px) {
  .container {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .inputContainer {
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
  }

  .inputContainer div {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .inputContainer svg {
    cursor: pointer;
    display: block;
    font-size: 36px;
    margin-left: 10px;
    transition: font-size 0.3s ease-in-out;
  }

  .inputContainer svg:hover {
    font-size: 40px;
  }

  .inputContainer div input {
    height: 45px;
    margin: 10px auto;
    width: 80%;
  }

  .inputContainer div input::placeholder {
    font-size: 16px;
  }

  .inputContainer button {
    height: 45px;
    margin: 10px auto;
    width: 140px;
  }

  .categoriesContainer {
    display: none;
  }

  .productsContainer {
    align-items: center;
    width: 100%;
  }

  .productsContainer aside {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .categoriesContainer {
    width: 30%;
  }

  .productsContainer {
    flex-direction: column;
    width: 70%;
  }
}
