.menuContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: relative;
  }
  
  .close {
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
  }
  
  .menuOptions {
    align-items: center;
    display: flex;
    height: 50px;
    margin-top: 20px;
    width: 100%;
  }
  
  
  
  .menuCart {
    align-items: center;
    display: flex;
    width: 50%;
  }
  
  .menuCart button {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    gap: 10px;
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .menuOptions .active {
    background-color: black;
    height: 50px;
  }
  
  .menuCart button svg {
    color: white;
    cursor: pointer;
    font-size: 20px;
    position: relative;
  }
  
  .menuCart button span {
    color: white;
    cursor: pointer;
    left: 17px;
    position: absolute;
    top: 4px;
  }
  
  .menuCart h3 {
    font-size: 16px;
  }
  
  .listCart {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  .itensCart {
    align-items: center;
    display: flex;
    gap: 30px;
    
    margin-bottom: 2px;
    width: 100%;
  }
  
  .deleteItem {
    cursor: pointer;
  }
  
  .imgContent {
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    position: relative;
    width: 40px;
  }
  
  .imgContent img {
    border-radius: 10%;
    height: 100%;
    width: 100%;
  }
  
  .quantity {
    color: #4b204b;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .totalPrices {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  
  .menuContainer .buttonCheckout {
    background-color: #be7abb;
    border: none;
    border-radius: 20px;
    color: #4b204b;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    margin-left: 25%;
    padding: 0;
    width: 50%;
  }
  
  
  